enable
configure terminal
!
hostname {{ hostname }}
no service config
!no setup express
no ip domain-lookup
line console 0
exec-timeout 0 0
logging synchronous
exit
!
{% for interface in interfaces -%}
interface {{ interface.name }}
ip address {{ interface.address }} {{ interface.mask }}
no shutdown
exit
{% endfor -%}
!
end
write
