enable
configure terminal
!
hostname {{ hostname }}
no ip domain-lookup
line console 0
exec-timeout 0 0
logging synchronous
exit
!
{% for interface in interfaces -%}
interface {{ interface.name }}
ipv6 address {{ interface.ipv6_address_link_local }} link-local
ipv6 address {{ interface.ipv6_address }}/{{ interface.ipv6_length }}
no shutdown
exit
{% endfor -%}
!
end
write
